<%= @cocktail.name %>


<ul class="list-group">
  <%= cl_image_tag @cocktail.photo.key,
      width: 400, height: 300, crop: :fill %>
  <% @cocktail.doses.each do |dose| %>
    <li class="list-group-item">
      <%= dose.description %>: <%= dose.ingredient.name %> <%= link_to "delete", dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>

<%= link_to 'Back', cocktails_path %> |
<%= link_to 'Add a dose', new_cocktail_dose_path(@cocktail) %>
